@font-face {
  font-family: 'universRoman';
  src: url('../fonts/UniversRoman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'universRegular';
  src: url('../fonts/UniversRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'universBold';
  src: url('../fonts/UniversBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  color: #231f20;
  font-family: universRoman;
  font-size: 14px;
  text-transform: none !important;
}

a {
  color: unset;
}

body {
  overflow-x: hidden !important;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  margin-bottom: 0;
}

p {
  margin-bottom: 0 !important;
}

select {
  margin: 0;
}

.clearfix {
  clear: both;
  display: block;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.md-form {
  margin: 0 !important;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
  flex-wrap: unset;
}

/* NAVBAR */

.navcon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #231f20;
  box-shadow: none;
  padding: 5px 50px;
  z-index: 60;
}

.navcon .navbar-nav {
  align-items: center;
}

.navcon .nav-link,
.navcon .nav-link i {
  color: #fff;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.navcon .nav-link:hover,
.navcon .nav-link:focus {
  opacity: 1 !important;
  color: #fff !important;
}

.ddnav button {
  background-color: none;
  color: #fff;
  box-shadow: none !important;
  padding: 10px;
  font-size: 12px;
}

.navcon .fa-search {
  padding: 0 !important;
}

.search .modal-dialog {
  max-width: 500px;
  padding: 60px 10px 10px 10px;
}

.search .modal-backdrop.show {
  opacity: 0;
}

.lbtn .cicon {
  padding: 0 5px;
}

.ddnav button::after {
  margin-left: 0.3em;
  border-right: 0.2em solid transparent;
  border-left: 0.2em solid transparent;
}

.ddnav button:hover {
  opacity: 1;
  color: #fff;
}

.ddnavMenu {
  padding: 0;
  border: none;
}

.ddnavMenu button,
.ddnavMenu button:hover {
  color: #231f20;
}

.imail {
  background-image: url('../images/mail.png');
}

.inotif {
  background-image: url('../images/notif.png');
}

.ibag {
  background-image: url('../images/bag.png');
  margin: 6px 0 0 4px !important;
}

.imail,
.inotif,
.ibag {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px !important;
  margin: 5px;
}

.title .ifollow,
.title .followed {
  top: -6px;
  background-size: 100%;
  float: none !important;
}

/* COMMON */

.con {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  width: 200px;
  padding: 0 50px 0 0;
}

.btn {
  font-size: unset;
}

.navbtn {
  padding: 5px 10px !important;
}

.maincon {
  padding-top: 100px;
}

.fontYellow {
  color: #fae933 !important;
  opacity: 1 !important;
}

.btnYellow {
  background-color: #fae933;
  color: #231f20 !important;
  border-radius: 50px;
  opacity: 1 !important;
  padding: 5px 10px;
}

.btnBlack {
  background-color: #231f20;
  color: #fff;
  border-radius: 50px;
  padding: 5px 10px;
}

.title {
  padding: 0 0 10px 0;
}

.title h2 {
  font-family: universBold;
  font-size: 40px;
  position: relative;
  float: left;
}

.center {
  text-align: center;
  display: table;
  margin: 0 auto;
}

.ifollow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid #231f20;
  padding: 0;
  position: relative;
  transition: 0.5s;
}

.ifollow i {
  font-size: 10px;
  color: #231f20;
}

.ifollow:hover {
  background-color: #fae933;
}

.followed,
.followed:hover {
  font-size: 10px;
  padding: 0 0 0 10px;
  box-shadow: none !important;
  margin: 0;
  opacity: 0.6;
  float: right;
}

.colartists {
  justify-content: center;
}

.col3img {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 0;
  flex-direction: row;
}

.col3img li {
  margin: 10px;
  width: 31%;
  /* border: 1px solid rgba(0,0,0,.2); */
}

.col3img li a.artlink {
  /* width: 100%;
  height: auto; */
  height: 21vw;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}

.col3img li a img {
  width: 120%;
  margin: 0 auto;
  display: block;
}

.artlabel {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
}

.hot,
.new,
.type {
  padding: 4px 8px 2px 8px;
  border-radius: 50px;
  float: right;
  margin: 0 4px;
  font-size: 10px;
  text-transform: capitalize !important;
}

.hot {
  background-color: #ff1d25;
  color: #fff;
}

.new {
  background-color: #fae933;
}

.type {
  background-color: #323c8f;
  color: #fff;
}

section {
  padding: 0 0 50px 0;
}

.home h3 {
  padding: 20px 10px 0 10px;
  font-family: universBold;
}

.seemore {
  float: right;
  padding: 0 20px;
  color: #231f20;
  font-size: 12px;
}

.seemore:hover {
  color: #231f20;
  opacity: 0.8;
}

.seemore i {
  font-size: 12px;
}

.addwork {
  background-color: #fae933;
  margin: 20px 20px 60px 20px;
  padding: 50px 20px 30px 20px;
  text-align: center;
}

.adloginpt {
  padding: 20px 0 0 0;
}

h2 {
  font-family: universBold;
  font-size: 40px;
}

input,
textarea,
select,
option {
  box-sizing: border-box !important;
}

textarea {
  overflow-y: scroll;
}

.addwork p {
  font-family: universRoman;
  font-size: 20px;
}

.addwork .btnBlack {
  font-family: universBold;
  font-size: 20px;
  max-width: 300px;
  margin: 20px auto 10px auto;
}

.learnmore {
  font-size: 12px;
}

.bttop {
  padding: 50px 20px 80px 20px;
}

.bttop a {
  text-align: center;
  margin: auto;
  display: block;
  opacity: 1 !important;
}

.bttop a:hover {
  color: #231f20;
  opacity: 0.8;
}

.bttop .btnYellow {
  font-size: 20px;
  font-family: universBold;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 10px auto;
}

.welcome {
  text-align: center;
  padding: 0 0 80px 0;
}

.welcome p {
  font-size: 20px;
}

.welcome .paddh2 {
  padding: 50px 0 0 0;
}

.signinOpt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signinOpt .btn,
.signinOpt a {
  font-size: 25px;
  font-family: universBold;
  max-width: 220px;
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto;
  line-height: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.signinOpt .btn:hover,
.signinOpt a:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3) !important;
}

.signinOpt a {
  margin: 0 20px 10px 20px;
}

.signinOpt p {
  font-size: 12px;
}

.signInOpt .btnmodal {
  width: auto;
}

.block {
  display: block;
}

.btnmodal {
  /* width: 100%; */
  max-width: 220px;
  padding: 10px 20px 20px 20px;
  margin: 0 auto;
}

.btnmodal h3 {
  padding: 4px 0 0 5px;
  margin-bottom: 0;
}

.inlinep {
  font-size: 12px !important;
  align-items: center;
  margin: 0;
}

.inlinep a {
  padding: 0 5px;
  color: #323c8f;
  font-size: 12px;
  display: inline;
}

.modlog .modal-content {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.modal-header {
  padding: 0.5rem 0.5rem !important;
}

.login {
  padding: 20px 50px;
}

.login h3 {
  text-align: center;
}

.login button {
  margin: 20px auto !important;
  padding: 10px !important;
  font-size: 14px !important;
  max-width: 100% !important;
  width: 100%;
  border: 1px solid #adadad !important;
}

.login button div {
  display: none;
}

.gmailLogin {
  background-color: #ff1d25 !important;
}

.gmailLogin span {
  text-align: center;
  padding: 0px !important;
  color: #fff !important;
  display: block;
  margin: 0 auto;
  font-size: 14px !important;
}

.reghere {
  font-size: 14px !important;
  text-align: center;
}

.reghere a,
.reghere a:hover {
  box-shadow: none !important;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.loginbtn {
  color: #fae933 !important;
  font-size: 25px;
  padding: 20px 10px !important;
  font-family: universBold;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
}

.modalform {
  /* width: 100%; */
  max-width: 600px;
  padding: 20px;
}

.modalbtn {
  font-size: 18px !important;
  padding: 10px !important;
  width: auto;
}

/* Registration */

.reg {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 50px 30px;
}

.reg .req {
  text-align: left;
}

.reg .left {
  width: 50%;
  float: left;
}

.reg .regform {
  width: 50%;
  padding: 20px;
  float: right;
}

.welcome {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  margin: 0 0 100px 0;
}

.pencil {
  position: absolute;
  right: 0;
  top: 0;
}

/* Artist */

h4 {
  font-family: universBold;
}

.paddh4 {
  padding: 50px 0 0 0;
}

.artistinfo {
  padding: 10px 15px 0 0;
  position: relative;
  display: block;
  cursor: default;
  max-width: 30vw;
  display: block;
  margin: 0 auto;
}

.artistinfo p {
  float: left;
}

.artistinfo .ifollow {
  float: right;
}

.artist {
  padding: 0 10px 50px 10px;
}

.artist .artistprofile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pad10 {
  padding: 10px !important;
}

.artist .artistprofile .left {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}

.artist .artistprofile .left .artistpp {
  float: left;
  max-width: 200px;
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 50px 0 0;
}

.artist .artistprofile .left .artistpp img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.artist .artistprofile .left .artistInfo {
  float: left;
  position: relative;
}

.pencil {
  position: absolute !important;
  right: -50px;
  top: -40px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 10px 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.pencil:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.artist .artistprofile .left .artistInfo .title {
  margin: 0;
  padding: 0;
}

.artist .artistprofile .left .artistInfo span {
  display: block;
}

.artist .artistprofile .left .artistInfo span.bday {
  font-size: 25px;
}

.artist .artistprofile .left .artistInfo span.estart {
  font-size: 12px;
}

.artist .artistprofile .left .artistInfo span.estart:before {
  content: '\2713';
  padding: 2px 5px;
  border-radius: 100%;
  background-color: #fae933;
  margin: 0 10px 0 0;
  font-weight: bold;
}

.artist .artistprofile .right {
  width: 30%;
  padding: 0 0 0 50px;
}

.artist .artistprofile .right ul {
  display: flex;
  flex-wrap: wrap;
}

.artist .artistprofile .right ul li {
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-family: universBold;
}

.artist .artistprofile .right ul li span {
  display: block;
  font-size: 12px;
}

.artist .artistbio,
.artist .relatedcat {
  width: 70%;
}

.artist .relatedcat .catlist a {
  background-color: #f1f1f1;
  float: left;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 15px 15px 0;
  font-size: 14px;
}
.upload {
  display: flex;
  justify-content: center;
}

.upload input {
  display: none;
}

.upload label {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 220px;
  padding: 10px !important;
  text-align: center;
  margin: 20px auto !important;
  background-color: #fae933 !important;
  font-family: universBold;
  border-radius: 50px;
  font-size: 20px !important;
}

/* ART */

.artcon .left,
.artcon .right {
  float: left;
}

.artcon .left {
  width: 60%;
  padding: 0 50px 0 20px;
}

.artcon .right {
  width: 30%;
}

.artInfo {
  padding: 0 10px 100px 10px;
}

.artInfo .title {
  margin: 0;
  padding: 0;
}

.artInfo span {
  font-size: 20px;
}

.arttitle {
  font-style: italic;
  font-size: 18px;
}

.year {
  font-size: 18px;
}

.artImg {
  padding: 20px 0 0 0;
  position: relative;
}

.artImg img {
  max-width: 500px;
  width: 100%;
  display: block;
}

.abtArtist h4 {
  margin: 0;
  padding: 20px 0 0 0;
}

.abtArtist span {
  font-size: 14px;
  padding: 0 0 20px 0;
  display: block;
}

.abtArtist a {
  color: #323c8f;
  float: none;
  padding: 20px 0 0 0;
}

.abtArtist i {
  color: #323c8f;
  padding: 0 0 0 5px;
}

.custform {
  padding: 0 0 20px 0;
  position: relative;
}

/* .custform div {
  padding: 0 0 10px 0;
} */

.custform span {
  display: block;
  font-family: universBold;
  /* padding: 20px 0 0 0; */
  font-size: 20px;
}

.custform select {
  margin: 0 !important;
  border: 2px solid #231f20 !important;
  border-radius: 10px !important;
}

.bluelink {
  color: #323c8f;
  font-size: 12px;
}

.blacklink {
  color: #231f20;
  font-size: 12px;
}

.nopad {
  padding: 0 !important;
}

.submitcust {
  background-color: #fae933;
  border-radius: 50px;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  bottom: 40px;
  box-shadow: none;
}

._3vt7_Mh4hRCFbp__dFqBCI {
  border: 1px solid #c3c3c3;
  margin: 0 0 10px 0;
}

.uploadreq {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.uploadreq p {
  padding: 10px 0 0 0;
  margin-bottom: 5px;
}

.uploadreq button {
  background-color: #fae933;
  color: #231f20;
  border-radius: 30px;
}

.uploadart label {
  background-color: transparent;
}

/* UPLOAD WORK */

.uploadwork {
  padding: 0 50px 100px 50px;
}

.uploadwork input {
  width: 100% !important;
}

.uploadwork {
  width: 100%;
  margin: 0 50px;
}

.uploadwork form {
  display: flex;
  flex-direction: row;
}

.uploadwork div.left {
  width: 50%;
}

.uploadwork div.right {
  max-width: 500px;
  width: 100%;
  padding: 0 80px;
}

.uploadwork span {
  display: block;
  font-family: universBold;
  font-size: 18px;
  padding: 10px 0 0 0;
}

/* .uploadform div {
  padding: 10px 0 0 0;
} */

.uploadform label {
  font-size: 14px;
  top: 25px !important;
  /* box-shadow: 2px 2px 10px rgba(0,0,0,.2); */
  transition: 0.5s;
}

.uploadform label.active {
  display: none;
}

/* .uploadform label:hover{
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
} */

.uploadform label,
.uploadform label:hover,
.uploadform label:focus,
.uploadform label.active {
  transform-origin: unset !important;
  transform: unset !important;
}

.uploadform textarea {
  padding: 10px !important;
}

.uploadform input,
.uploadform textarea,
.uploadform select {
  border: 2px solid #231f20 !important;
  border-radius: 10px !important;
}

.uploadform .md-form,
.uploadform select {
  padding: 10px 0;
}

.uploadform input,
.uploadform select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px !important;
}

.uploadform select {
  width: 100%;
  margin: 10px 0;
}

.uploadform label {
  padding: 0 10px;
  margin: 0 0 0 5px;
  background-color: #fff;
  top: 8px;
}

.uploadform button {
  background-color: #fae933;
  float: right;
}

.artsingle .ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  height: 300px !important;
}

.artmult .ant-upload.ant-upload-select-picture-card,
.ant-upload-list-picture-card .ant-upload-list-item,
.ant-upload-list-picture-card-container {
  width: 100px !important;
  height: 100px !important;
}

.anticon-eye-o {
  display: none !important;
}

.anticon-delete {
  width: auto !important;
  opacity: 1;
}

.artmult .anticon-delete svg {
  opacity: 1 !important;
  color: #fff !important;
}

.ant-select-search--inline .ant-select-search__field {
  padding: 0 !important;
}

.artmult .anticon svg {
  font-size: 40px;
  opacity: 0.5;
}

.ant-select-dropdown-menu-item svg {
  display: none !important;
}

.artmult {
  padding: 50px 0 0 0;
}

.artsingle span,
.artmult span {
  padding: 0;
}

.artsingle p,
.artmult p {
  padding: 0 0 10px 0;
}

.antselect i {
  padding: 0 0 0 0 !important;
}

.antselect {
  padding: 10px 0 !important;
}

.ant-select-selection__rendered {
  padding: 5px;
}

.ant-select-selection {
  border-radius: 0 !important;
}

.antselect .anticon svg {
  font-size: 12px;
}

.row50 {
  float: left;
  width: 50%;
}

.nobg {
  background-color: transparent !important;
}

.req {
  text-align: center;
  font-size: 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  padding: 5px 0;
}

.inlines {
  display: inline;
  color: #323c8f;
  font-size: 12px;
  padding: 0 0 0 5px;
}

.dim ul {
  display: flex;
  flex-direction: row;
}

.dim ul li {
  width: 32%;
  margin: 0 20px 0 0;
}

.dim ul li:last-of-type {
  margin: 0;
}

.dim select {
  margin: 8px 0 0 0 !important;
}

.selcon select {
  margin: 8px 0 0 0 !important;
  width: 31.5%;
}

.selcon p,
.dim p {
  margin: 0;
}

.selcon,
.dim {
  padding: 0 0 10px 0;
}

.ant-back-top {
  position: relative !important;
  right: auto !important;
  bottom: auto !important;
  width: auto !important;
  display: table;
  margin: 0 auto !important;
}

.artOpt {
  /* display: none; */
  display: flex;
  justify-content: space-around !important;
  /* padding: 20px 10px; */
  max-width: 500px;
}

.artOpt li {
  padding: 20px;
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.5s;
}

.artOpt li:hover {
  background-color: #d8d8d8;
}

.artOpt li:nth-child(2) {
  border-right: none;
  border-left: none;
}

.artOpt li a {
  opacity: 0.8;
  transition: 0.5s;
}

.artOpt li a:hover {
  opacity: 1;
  color: #231f20;
}

.room {
  max-width: 700px;
  height: 80%;
  overflow: hidden;
}

.room .modal-content {
  height: 80%;
}

.living-con {
  background-image: url('../images/living.png');
  background-position: center;
  background-size: cover;
  height: 90%;
  padding: 8% 0 0 0;
}

.frame {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.room img {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.closeviewinroom {
  background-color: #fff;
}

/* FOOTER */

.footer {
  background-color: #231f20;
  padding: 0 40px;
  
}
.footerdiv {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  text-align: center;

}

.footer .navfoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .navfoot ul:first-of-type,
.footer .navfoot ul:nth-of-type(2) {
  padding: 50px 200px 30px 0;
}

.footer .navfoot ul {
  padding: 50px 0 30px 0;
}

.footer .navfoot ul li {
  padding: 0 0 10px 0;
}

.footer .navfoot ul li:first-of-type {
  color: #fff;
  font-size: 20px;
  font-family: universBold;
}

.footer .navfoot ul li a {
  color: #808080;
  font-size: 12px;
}

.footer .navfoot ul li a:hover {
  text-decoration: underline;
}

.footer .navfoot ul li a .caret {
  color: #808080 !important;
  padding: 5px !important;
}

.footer .navfoot ul li a .caret:before {
  font-size: 10px;
}

.footer .copyright {
  padding: 10px 0;
  border-top: 2px solid #808080;
}

.footer .copyright p {
  text-align: center;
  color: #808080;
  font-size: 10px;
  margin: 0;
}

.cicon {
  position: relative;
}

.cicon button {
  padding: 5px;
}

.cicon i {
  font-size: 20px !important;
  color: #fff;
  opacity: 0.6;
}

.cicon i:hover {
  opacity: 1 !important;
}

.cicon .bell {
  position: absolute;
  right: 0px;
  top: 2px !important;
  padding: 2px 4px !important;
}

.btnpadd {
  padding: 8px 8px 0 0 !important;
  margin: 0 auto;
}

.ripple {
  display: none;
}

.ant-pagination {
  float: right;
}

.artworks .col3img li {
  width: 45%;
}

.artworks .col3img li a.artlink {
  height: 20vw;
}

.aside {
  float: left;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 20px;
  margin: 0 0 50px 0;
}

.aside .btnYellow {
  margin: 20px auto;
  padding: 5px 30px;
  display: block;
}

.aside h5 {
  padding: 20px 0 0 0;
  color: #fae933;
}

.main {
  float: left;
  width: 80%;
  padding: 0 0 0 50px;
}

.artists .col3img li {
  width: auto;
  padding: 3vw;
}

.artists .col3img li a {
  border-radius: 100%;
}

.artists .col3img li a.artlink {
  width: 20vw;
  height: 20vw;
}

.artists .col3img li a.artlink img {
  width: 100%;
  height: auto;
}

.seeworks {
  margin: 0 0 0 10px;
  padding: 2px;
  border-radius: 0;
  font-size: 12px;
  color: #fae933;
}

.cedit {
  padding: 0 0 50px 0;
}

.cedit h2 {
  float: left;
  font-size: 30px;
}

.chead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  max-width: 980px;
  display: block;
  margin: 0 auto;
}

.cmaincon {
  padding: 30px 0 0 0;
  max-width: 980px;
  display: block;
  margin: 0 auto;
}

.cuploadbtn {
  float: right;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.cuploadbtn:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.ctab {
  float: left;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  width: 100%;
}

.clabel {
  padding: 3px;
}

.ctab .nav-link {
  border: none;
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

.ctab .nav-link:hover {
  color: unset;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.1);
}
/* 
.ccon{
  padding: 20px 50px 0 100px;
  float: left;
  width: 100%;
}

.ccon .tab-content>.tab-pane{
  padding: 20px 50px 0 100px;
} */

.md-form textarea.md-textarea {
  overflow-y: scroll;
  border: 1px solid #ced4da;
}

.cedit .md-form {
  padding: 10px 0;
}

.cedit input,
.cedit .md-form textarea.md-textarea {
  padding: 10px !important;
  width: 300px;
  margin: 0 0 0 200px !important;
  border: 0.5px solid rgba(0, 0, 0, 0.2) !important;
}

.cedit label {
  transition: none !important;
  transform: none !important;
  top: 25px;
  color: #231f20;
}

.cedit .submitreg {
  padding: 5px 20px;
  margin: 30px 0 0 0;
}

.cpup {
  width: 20vw !important;
  height: 20vw !important;
  padding: 0;
}

.cpup .ant-upload.ant-upload-select-picture-card {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  display: block;
}

.cpup .ant-upload.ant-upload-select-picture-card span {
  display: block;
  padding: 8vw 0 0 0 !important;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
  padding: 0 !important;
}

.cedit h4 {
  font-size: 20px;
  padding: 20px 0 0 0;
}

.cedit label {
  position: absolute;
}

.cedit .corders {
  display: flex;
  flex-direction: column;
}

.cedit .corders li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  position: relative;
}

.cedit p {
  margin: 0;
}

.cedit .corders li img {
  float: left;
  width: 20%;
  margin: 0;
}

.cedit .corders li div.odet {
  float: left;
  width: 37%;
  padding: 0 0 0 50px;
}

.changee {
  font-size: 12px;
  opacity: 0.8;
  color: #ff1d25;
}

.changee:hover {
  opacity: 1;
  color: #ff1d25;
}

.odright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20% !important;
}

.oartist {
  padding: 0;
  opacity: 0.8;
}

.otitle {
  font-style: italic;
  font-size: 18px;
}

.otypeO,
.otypeS {
  font-size: 12px;
  padding: 2px 5px;
  background-color: #ff1d25;
  color: #fff;
  display: table;
  opacity: 0.8;
  border-radius: 2px;
  margin: 0 0 15px 0 !important;
}

.otypeS {
  background-color: #fae933;
  color: #231f20;
}

.ototal {
  color: #ff1d25;
  font-size: 20px;
  font-weight: bold;
}

.odetbtn {
  border-radius: 0;
  padding: 5px;
  margin: 10px 0 0 0;
  position: absolute !important;
  bottom: 20px;
  right: 20px;
}

.navlogin {
  color: #fff !important;
  background-color: transparent;
  padding: 0 !important;
  font-size: 12px;
  margin: 0 !important;
}

.outp {
  padding: 10px;
}

.btnmodalnav {
  padding: 0;
}

.btnmodalnav input {
  border-bottom: 1px solid #808080 !important;
  margin: 0 0 10px 0 !important;
  color: #231f20 !important;
}

.rem {
  display: flex;
  padding: 0 0 0 25px;
}

.clabel {
  top: 0 !important;
}

.ctab .nav-link {
  padding: 20px 10px;
}

.kep-login-facebook.metro {
  width: 100%;
  max-width: 100% !important;
  display: block;
  margin: 0 auto !important;
}

.fblogin button,
.glogin span {
  font-size: 12px !important;
}

.fblogin button,
.glogin button {
  max-width: 100% !important;
  width: 100%;
  padding: 10px;
  margin: 0 !important;
}

.glogin {
  margin: 10px 0 0 0;
}

.glogin div {
  display: none;
}

.glogin span {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: normal;
}

.glogin button {
  padding: 0 !important;
  border: none;
  background-color: #ff4349 !important;
}

.fblogin button:hover,
.glogin button:hover {
  opacity: 0.8;
}

.navbar .dropdown-menu {
  background-color: rgb(175, 175, 175);
  opacity: 1;
  z-index: 9;
}

.rowart {
  display: flex;
}

.rowart li {
  width: 44%;
}

.rowart li .artlink {
  height: 14vw !important;
}

.rowart li .artistinfo {
  padding: 10px 0 20px 0 !important;
}

/* orders */

/* body.overflow-y-scroll {
  overflow-y: hidden;
} */
/* 
.show {
  overflow: auto !important;
} */

.modal-dialog {
  margin: 0 auto !important;
}

.modal,
.modal-backdrop {
  z-index: 99 !important;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

.orders .modal-dialog {
  max-width: 1000px;
}

.orders table th {
  color: #fae933;
  font-weight: bold;
  font-size: 16px;
  padding: 10px !important;
}

.orders table td {
  font-size: 14px;
  padding: 10px !important;
}

.total {
  color: #d32f2f;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 0 10px !important;
  text-align: right;
}

.modal-header .close {
  margin: 0 !important;
  padding: 10px !important;
  min-width: auto !important;
}

.cart .modal-header .close {
  padding: 0 !important;
}

.orders .modal-header .close span {
  padding: 5px;
}

.orders.login {
  padding: 20px 50px 20px 50px;
}

.iconbtn {
  background-color: transparent !important;
  box-shadow: none !important;
  float: left;
  padding: 5px 10px 5px 5px !important;
  text-decoration: underline !important;
  color: #fae933 !important;
}

.iconbtn:hover {
  opacity: 0.8;
}

.oactions {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 8px 0 !important;
}

.oactions .dropdown-menu.show {
  padding: 0;
  margin: 0;
}

.actionicon {
  position: absolute;
  right: 0;
}

.ddtable button {
  border-radius: 0 !important;
  background-color: #fae933 !important;
  padding: 5px !important;
  font-size: 12px !important;
}

.ddtable button:hover {
  opacity: 0.8;
}

.btnact {
  width: 100%;
  box-shadow: none;
}

.btnact:hover {
  box-shadow: none;
}

.btncon {
  display: flex;
  flex-direction: row;
}

.approve {
  background-color: #fae933;
  border-radius: 5px;
  padding: 5px;
  color: #231f20;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.approve:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.reject {
  background-color: #d32f2f;
  border-radius: 5px;
  padding: 5px;
  color: #fff !important;
  margin: 0 0 0 8px !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.reject:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.ordercon {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.ordercon input {
  margin: 20px 0 0 0 !important;
}

.ordercon ul.nav-tabs {
  margin-top: 0 !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

.ordercon ul.nav-tabs li.nav-item {
  border: none;
  width: 20%;
}

.ordercon ul.nav-tabs li.nav-item a.nav-link {
  text-align: center;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: none;
  height: 100%;
}

.ordercon ul.nav-tabs li.nav-item a.nav-link:hover {
  color: #fae933;
}

.ordercon ul.nav-tabs li.nav-item a.active {
  color: #fae933;
  border-bottom: 2px solid #fae933;
}

.ordercon ul.nav-tabs li.nav-item a:hover i,
.ordercon ul.nav-tabs li.nav-item a.active i {
  color: #fae933 !important;
}

/* .ordercon .tab-content {
  padding: 20px;
} */

.ordercon .artlist {
  margin: 20px 0;
  /* background-color: rgba(0, 0, 0, 0.02); */
  position: relative;
}

.ordercon .artlist .cartord {
  background-color: rgba(0, 0, 0, 0.02);
}

.ordercon .artlist .row {
  margin: 0;
  background-color: transparent !important;
}

.artlistorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.ordercon .artlist .colpad {
  padding: 10px !important;
  background-color: transparent !important;
}

.ordercon .artlist .colpad2 {
  padding: 0 0 10px 0 !important;
  background-color: transparent !important;
}

.ordercon .artimg img {
  width: 100%;
}

.ordercon .artlist p {
  margin-bottom: 0;
}

.ordercon .artlist .artdet a:hover,
.ordercon .artlist .artdet a:hover i {
  opacity: 0.8;
  color: #231f20;
}

.ordercon .artlist .artdet p:first-of-type {
  font-style: italic;
  padding: 5px 0;
}

.ordercon .artlist .artdet p:nth-of-type(2) {
  opacity: 0.8;
  font-size: 10px;
}

.ordercon .artlist .artdet p:last-of-type {
  font-weight: bold;
  padding: 5px 0;
}

/* .ordercon .artlist .total {
  color: #ff4349;
  font-weight: bold;
  padding: 0;
  background-color: transparent !important;
  font-size: 14px !important;
} */

/* .cart {
  padding: 20px 20px 60px 20px !important;
} */

.order {
  background-color: #ff4349;
}

.actsrow {
  width: auto;
  float: right;
  padding: 10px 30px 60px 0;
  margin: 0 !important;
  background-color: transparent !important;
}

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.orderdetails,
.col {
  background-color: transparent !important;
}

.orderdetails .acts .actsrow {
  padding: 10px 0 0 0;
}

.orderdetails .actsbtn {
  bottom: 0;
}

.actsrowcart {
  width: 33%;
  float: right;
  padding: 10px 10px 50px 10px;
  margin: 0 !important;
}

.actsbtn {
  position: absolute;
  display: flex;
  bottom: -48px;
  right: -5px;
  min-width: auto;
  background-color: transparent !important;
}

.pending .actsbtn {
  min-width: 241px;
  /* right: 20px; */
}

.complete .actsbtn,
.history .actsbtn,
.cancelled .actsbtn {
  width: auto;
  /* right: 26px; */
  bottom: -52px;
}

.ordercon .artlist button {
  box-shadow: none;
  float: left;
  font-size: 12px !important;
  padding: 6px 10px !important;
  min-width: 120px;
}

.orderdetails button {
  min-width: 110px;
}

/* .cartab .acts {
  padding: 10px 0 60px 0;
}

.cartab .total {
  text-align: right;
}

.cartab .actsbtn {
  width: auto;
  bottom: 26px;
  right: 58px;
} */

button.recieve {
  background-color: #fae933 !important;
  color: #231f20;
  font-size: 14px !important;
}

.ordercon .artlist button.recieve:hover,
.ordercon .artlist button.recieve:active {
  opacity: 0.8;
}

.ordercon .artlist button.det {
  background-color: transparent !important;
  color: #231f20;
  border: 1px solid #231f20;
  font-size: 14px;
}

.ordercon .artlist button.det:hover,
.ordercon .artlist button.det:active {
  border: 1px solid #fae933;
  color: #fae933;
}

.orderdetails .ant-steps {
  justify-content: center;
  padding: 40px 20px 20px 20px;
}

.orderdetails
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #fae933;
}

.orderdetails
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #fae933;
}

.orderdetails .ant-steps-item-title {
  padding-top: 7px;
}

.orderdetails .ant-steps-item-title::after {
  top: 22px;
}

._2OR24XnUXt8OCrysr3G0XI {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

form input[type='radio'],
form input[type='checkbox'] {
  width: 14px !important;
}

._2OR24XnUXt8OCrysr3G0XI span {
  display: inline-flex;
  width: auto;
  padding: 5px 10px;
  margin: 5px;
}

.ver {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ver p {
  text-align: center;
}

.ver img {
  max-width: 400px;
  padding: 0 0 20px 0;
}

.fa-trash {
  margin: 12px 0 0 0;
}

.viewcart .actsbtn {
  bottom: 20px;
  right: 76px;
  width: auto;
}

._3vt7_Mh4hRCFbp__dFqBCI {
  border: none;
}

@media all and (min-width: 769px) {
  * {
    font-size: 1.167vw;
  }

  #nav-icon1 {
    width: 2em;
    position: absolute;
    right: 20px;
    top: 18px;
  }

  #nav-icon1 span {
    border-radius: 10px;
    height: 0.333vw;
  }

  /* NAVBAR */

  .navcon .nav-link,
  .navcon .nav-link i {
    padding: 0.833vw;
  }

  .ddnav button {
    padding: 0.833vw;
  }

  .ddnav button::after {
    margin-left: 0.3em;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
  }

  .imail,
  .inotif,
  .ibag {
    padding: 0.65vw 0.833vw !important;
    margin: 0.417vw;
  }

  /* COMMON */

  .con {
    padding: 0 2.5vw;
  }

  .logo {
    width: 16vw;
    padding: 0 4.167vw 0 0;
  }

  .maincon {
    padding-top: 8.333vw;
  }

  .title h2 {
    font-size: 3.333vw;
  }

  .welcome p {
    font-size: 1.6vw;
  }

  .navcon .nav-link,
  .navcon .nav-link i,
  .ddnav button,
  .navlogin {
    font-size: 1vw;
  }

  .cicon i {
    font-size: 1.5vw !important;
  }

  .ifollow {
    margin: 0 0 0 0.833vw;
  }

  .col3img li {
    margin: 0.5vw 1vw 1vw 1vw;
  }

  .col3img li a.artlink {
    max-width: 30vw;
    transition: 0.5s;
  }

  .col3img li a.artlink:hover {
    opacity: 0.8;
  }

  .artlabel {
    padding: 0.417vw;
  }

  section {
    padding: 0 0 4.167vw 0;
  }

  /* .home h3{
  padding: 1.667vw 1.667vw 0 1.667vw;
} */

  .seemore {
    padding: 0 1.667vw;
  }

  .artistinfo {
    padding: 1vw 1.25vw 0 0;
  }

  .addwork {
    margin: 1.667vw 1.667vw 5vw 1.667vw;
    padding: 4.167vw 1.667vw 2.5vw 1.667vw;
  }

  h2 {
    font-size: 3.333vw;
  }

  .addwork p {
    font-size: 1.667vw;
  }

  .addwork .btnBlack {
    font-size: 1.667vw;
    width: 25vw;
    margin: 1.667vw auto 0.833vw auto;
  }

  .learnmore {
    font-size: 1vw;
  }

  .bttop {
    padding: 4.167vw 1.667vw 6.667vw 1.667vw;
  }

  .bttop .btnYellow {
    font-size: 1.667vw;
    width: 20.833vw;
    margin: 0 auto 0.833vw auto;
  }

  /* FOOTER */

  .footer {
    padding: 0 3.333vw;
  }

  .footer .navfoot ul:first-of-type,
  .footer .navfoot ul:nth-of-type(2) {
    padding: 4.167vw 16.667vw 2.5vw 0;
  }

  .footer .navfoot ul {
    padding: 4.167vw 0 2.5vw 0;
    flex-wrap: wrap;
  }

  .footer .navfoot ul li {
    padding: 0 0 0.833vw 0;
  }

  .footer .navfoot ul li:first-of-type {
    font-size: 1.667vw;
  }

  .footer .navfoot ul li a {
    font-size: 1vw;
  }

  .footer .navfoot ul li a .caret {
    padding: 0.417vw !important;
  }

  .footer .navfoot ul li a .caret:before {
    font-size: 0.833vw;
  }

  .footer .copyright {
    padding: 0.833vw 0;
  }

  .footer .copyright p {
    font-size: 0.833vw;
  }
}

@media all and (max-width: 768px) {
  .con {
    padding: 80px 10px 0 10px;
  }

  .aside {
    width: 40%;
  }

  .main {
    width: 60%;
    padding: 0 0 0 10px;
  }

  .navcon {
    padding: 10px 20px;
  }

  .logo {
    padding: 0;
  }

  .col3img li {
    width: 100% !important;
  }

  .col3img li a.artlink {
    height: auto !important;
    max-width: 100%;
  }

  .col3img li a img {
    height: auto;
    width: 100%;
  }

  .artist .artistprofile {
    display: block;
  }

  .artist .artistprofile .left,
  .artist .artistprofile .right {
    width: 100%;
  }

  .artist .artistprofile .right ul {
    display: flex;
    justify-content: center;
  }

  .artist .artistbio,
  .artist .relatedcat {
    width: 100%;
  }

  .artInfo {
    padding: 0 0 50px 0;
  }

  .artcon .left,
  .artcon .right {
    float: none;
  }

  .artcon .left {
    width: 100%;
    padding: 0;
  }

  .artcon .right {
    width: 100%;
  }

  .custform {
    padding: 0 0 50px 0;
  }

  .uploadwork {
    margin: 0;
    padding: 20px;
  }

  .uploadwork div.left,
  .uploadwork div.right {
    width: 100% !important;
    float: none;
  }

  .uploadwork div.left {
    padding: 0 0 100px 0;
  }

  .uploadwork div.right {
    padding: 0 20px;
  }

  .uploadwork form {
    flex-direction: column;
  }

  .row50 {
    width: 100%;
  }

  .footer .navfoot {
    justify-content: start;
  }

  .footer .navfoot ul {
    padding: 20px !important;
  }

  .regform .modal-dialog {
    padding: 10px;
  }

  .reg .left,
  .reg .regform {
    float: none;
    width: 100%;
  }

  .reg .regform {
    padding: 20px 0;
  }

  .artists .col3img li {
    width: auto;
    padding: 0 0 0 20px;
  }

  .artists .col3img li a.artlink {
    max-width: 100%;
  }

  /* .ctab{
  width: 30%;
}

.ccon{
  width: 70%;
  padding: 20px;
} */

  .cedit input,
  .cedit .md-form textarea.md-textarea {
    margin: 40px 0 0 0 !important;
    width: 100%;
  }

  .chead {
    margin: 0;
    max-width: 100%;
  }

  .cmaincon {
    max-width: 100%;
  }

  .ccon {
    padding: 0 0 0 20px;
  }

  /* .con{
  padding: 100px 10px 20px 10px;
} */

  .rowart li .artlink {
    height: auto !important;
  }
  .pending .actsbtn {
    right: -6px;
    bottom: -48px;
  }

  .ordercon .artlist .row {
    width: auto;
    padding: 5px;
  }

  .ordercon .artlist .row div {
    float: right;
    width: auto;
    padding: 0;
  }
  .acts {
    padding: 0 0 50px 0;
  }

  .actsrow {
    padding: 10px 0 10px 0;
  }

  .artlistorder .div {
    display: flex;
    flex-direction: row;
  }

  .artistinfo {
    padding: 10px 15px 0 15px;
    max-width: 100%;
  }

  .artimg {
    width: 100% !important;
  }

  .sub {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ordercon .artlist .colpad {
    padding: 5px !important;
  }

  .artimg img {
    padding: 0 0 0 20px;
  }

  .pending .artimg img,
  .completed .artimg img,
  .cancelled .artimg img,
  .history .artimg img {
    padding: 0;
  }
}
