ol {
  margin: 0 !important;
}

.printp .ablogo {
  width: 100%;
  max-width: 200px;
  padding: 10px;
}

.printpcon {
  float: right;
  width: 85%;
  padding: 20px;
}

.printpcon .row {
  margin: 0 !important;
}

.printpside {
  height: 100vh;
  width: 15%;
  padding: 50px 10px 30px 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}

.list-group-item {
  background-color: transparent;
}

.col-md-12 {
  padding: 10px;
}

.printpsearch {
  float: right;
  width: auto;
}

.printpsearch button {
  padding: 10px 20px !important;
  margin: 0 0 0 10px;
}

.printpsearch .fa {
  padding: 0;
}

.printpside .nav-link.active {
  color: #231f20;
  background-color: transparent;
}

.printpside .nav-link:hover {
  background-color: rgb(207, 207, 207);
}

.printpbreadcrumb {
  padding: 10px 10px 30px 10px;
}

.card {
  width: 100%;
}

.nav-pills {
  padding: 20px 0 0 0;
  max-width: 180px;
}

.nav-pills li {
  max-width: 150px;
  width: 100%;
  padding: 5px 0;
  margin: 0 auto;
}

.printpcon button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #fae933 !important;
  color: #321132 !important;
}

.printpcon i {
  padding: 0 10px 0 0;
  font-size: 18px;
}

.printpmodalbody {
  padding: 20px;
}

.close {
  background-color: transparent !important;
}

.printp th,
.printp td {
  text-align: center;
}

.printplogin {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}

.printpbg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../images/adminbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  filter: blur(6px);
}

.printplogin img.img-fluid {
  width: 100%;
}

.printplogin h3 {
  font-size: 20px;
  color: #343a40 !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-family: universBold;
  text-align: center;
}

.printplogin form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 60px 40px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 9;
  border-radius: 5px;
  margin: 0 auto;
}

.printplogin form input {
  width: 100%;
  padding: 0 10px;
}

.printplogin .priloginpt {
  padding: 10px 0;
}

.printplogin form .priloginpt label {
  opacity: 0.6;
}

.printploginbtn {
  padding: 15px;
  background-color: #fae933;
  max-width: 200px;
  width: 100%;
  margin: 40px auto 0 auto;
  display: block;
  color: #fff !important;
}

thead th,
thead td {
  padding: 10px 5px !important;
}

.navbar-collapse {
  align-items: flex-start;
}

.hamburger-button__button {
  display: none;
}

.formbtn .md-form,
.formbtn select {
  padding: 10px 0;
}

.formbtn input,
.formbtn select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px !important;
  width: 100%;
}

.formbtn select {
  width: 100%;
  margin: 10px 0;
}

.formbtn label {
  padding: 0 10px;
  margin: 0 0 0 5px;
  background-color: #fff;
  top: 8px;
}

.formbtn button,
.formbtn a {
  background-color: #fae933;
  float: right;
}

/* .viewimage{
    background-color: #FAE933;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  } */

.artimg {
  width: 100%;
}

@media all and (max-width: 768px) {
  .navbar-collapse {
    align-items: center;
  }

  .hamburger-button__button {
    display: block;
  }

  #nav-icon1 {
    width: 2em;
  }

  #nav-icon1 span {
    border-radius: 10px;
    height: 4px;
  }

  .printpside {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 10px 20px;
  }

  .printpcon {
    padding: 80px 20px 20px 20px;
    float: none;
    width: 100%;
  }
}
